apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-kv-secrets
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/sync-wave: "0"
spec:
  provider: azure
  secretObjects:                                 # [OPTIONAL] SecretObject defines the desired state of synced K8s secret objects
  - secretName: emart-pass
    type: Opaque
    labels:
      environment: "prod"
    data:
    - objectName: emart-db-pass                    # name of the mounted content to sync. this could be the object name or object alias
      key: db-pass
  parameters:
    usePodIdentity: "false" # [OPTIONAL] if not provided, will default to "false"
    clientID: "163d55fd-6cbe-4879-a069-fd7a38320f3a" # [OPTIONAL available for version > 1.1.0] client id of the Azure AD Application or managed identity to use for workload identity
    keyvaultName: "emart-cluster-aks" # the name of the KeyVault
    objects:  |
      array:
        - |
          objectName: emart-db-pass
          objectType: secret
          objectVersion: ""
    tenantID: "8c052fa2-b11b-4526-9f8d-13595118fde8"